@import "tailwindcss";

@theme {
  --font-display: "Be Vietnam Pro", ui-sans-serif, system-ui, sans-serif;
  --color-primary: #eb0089;
  --color-background-light: #f8f5f7;
  --color-background-dark: #230f1b;
}

body {
  @apply bg-white text-slate-900 antialiased min-h-screen selection:bg-primary/20 selection:text-white;
}

/* Custom premium scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-gray-100;
}
::-webkit-scrollbar-thumb {
  @apply bg-primary/50 rounded-full hover:bg-primary transition-colors;
}
